<div class="center" style="padding-bottom: 2em;">

    <div class="jumbotron">
        <h1 class="display-6">Enix.herokuapp.com</h1>
        <p class="lead">We Bring You The Newest Shoes In The Market So Pre-Order Today!</p>
        <hr class="my-4">

    </div>
    <div>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Male_Section">Males</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Female_Section">Females</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" tabindex="-1" aria-disabled="true"></a>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
                        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Check Order"
                            aria-label="Search" required>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>

        </nav>
    </div>

    <table class="table">
        <thead>
            <tr>

                <th scope="col">Full Name</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Email</th>
                <th scope="col">Colour</th>
                <th scope="col">Size</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{users}}</td>
                <td>0{{contacts}}</td>
                <td>{{emails}}</td>
                <td>{{colours}}</td>
                <td>{{sizes}}</td>
                <td>{{costs}}</td>
            </tr>

        </tbody>
    </table>

    <div class="center">

        <div class="card" style="width: 15rem;background-color:darkgray" id="test">

            <img src="{{prices}}" class="card-img-top" alt="..." name='test'>

        </div>
    </div>