<head>

	<title>Accel-Shopping | Cart Review</title>

</head>


<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
	<div class="container">
		<a href="#" class="navbar-brand">
			<!-- Logo Image -->
			<img src="/images\favicon.ico" width="45" alt="" class="d-inline-block align-middle mr-2">
			<!-- Logo Text -->
			<span class="text-uppercase font-weight-bold">Enix</span>
		</a>

		<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
			class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

		<div id="navbarSupportedContent" class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
				<li class="nav-item"><a href="/Male_Section" class="nav-link">Male</a></li>
				<li class="nav-item"><a href="/Female_Section" class="nav-link">Female</a></li>
				<li><a href="/cart" class="nav-link"> Cart</a></li>


			</ul>
		</div>
	</div>
</nav>

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Check out</li>
			</ol>
		</div>
		<!--/breadcrums-->




		<div class="register-req">
			<p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest</p>
		</div>
		<!--/register-req-->

		<div class="shopper-informations">
			<div class="row">
				<div class="col-sm-3">
					<div class="shopper-info">
						<p>Shopper Information</p>
						<form>
							<input type="text" placeholder="Display Name">
							<input type="text" placeholder="User Name">
						</form>

					</div>
				</div>
				<div class="col-sm-5 clearfix">

				</div>

			</div>
		</div>
		<div class="review-payment">
			<h2>Review & Payment</h2>
		</div>

		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description"></td>
						<td class="price">Price</td>
						<td class="price">Quantity</td>
						<td class="total">Total</td>

						<td></td>
					</tr>
				</thead>
				<tbody>
					<form action="toPayment" method="post">
						<tr>
							<td class="cart_product">
								<img src="{{list.prices}}" alt="" style="height: 120px;">
							</td>
							<td class="cart_description">
								<h4><a href="">{{list.name}}</a></h4>

							</td>
							<td class="cart_price">
								<p>R{{list.cost}}</p>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{list.quantity}}</p>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{list.myTotal}}</p>
							</td>

						</tr>
				</tbody>
			</table>
			<button type="submit" class="btn btn-primary" name="price" value="/images/b.jpg">Procceed to
				Payment</button>
		</div>
		</form>
	</div>
</section>
<!--/#cart_items-->