  <h1 class="center" style="padding-bottom: 3em;"> <u>LAST STEP </u></h1>

   
        <div><h5>  Hi {{userz}} you have chosen a size {{mySize}} {{myColour}} {{myType}}</h5></div>
        <div><h5> We will send you an E-mail at <u>{{myMail}}</u> or send you a SMS/CALL at <u>{{myPhone}}</u> </h5></div>
  

<div class="center" style="padding-top: 1em;">
<form action="/done" method="post">
<button type="submit" class="btn btn-success">Finish</button>
</form>
</div>