<head>

  <script>

dataLayer.push({
  'event': 'purchase',
  'ecommerce': {
    'purchase': {
      'transaction_id': '{{list.id}}',
      'affiliation': 'Online Store',
      'value': '{{list.cost}}',
      'tax': '0',
      'shipping': '0',
	  'payment' : '{{thePayment}}',
      'currency': 'ZAR',
      'items': [{
        'item_name': '{{list.name}}',
        'price': '{{list.cost}}',
        'item_category': '{{list.category}}',
        'item_variant': '{{list.colour}}',
        'quantity': '{{list.quantity}}'
      }]
    }
  }
});
</script>

  <title>Accel-Shopping | Thank-You</title>

  
</head>





<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
	<div class="container">
		<a href="#" class="navbar-brand">
			<!-- Logo Image -->
			<img src="/images\favicon.ico" width="45" alt="" class="d-inline-block align-middle mr-2">
			<!-- Logo Text -->
			<span class="text-uppercase font-weight-bold">Enix</span>
		</a>

		<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
			class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

		<div id="navbarSupportedContent" class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
				<li class="nav-item"><a href="/Male_Section" class="nav-link">Male</a></li>
				<li class="nav-item"><a href="/Female_Section" class="nav-link">Female</a></li>
				<li><a href="/cart" class="nav-link"> Cart</a></li>
			

			</ul>
		</div>
	</div>
</nav>

<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Order</li>
				</ol>
        			<div class="heading">
				<h2>Order Summary</h4>
				
			</div>
			</div>

							<div class="view-product">
								<img src="{{list.prices}}" alt="" style="width: 400px;">
								
							</div>
				
		
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">

			<div class="row">

				<div class="col-sm-6">
					<div class="total_area">
            <form action="/finish" method="post">
						<ul>

							<li>Product name <span>{{list.name}}</span></li>
							<li>Price <span>R{{list.cost}}</span></li>
							<li>Size <span>{{list.sizes}}</span></li>
							<li>Colour <span>{{list.colour}}</span></li>
              	<li>Quantity <span>{{list.quantity}}</span></li>
                <li>Payment Type <span>{{thePayment}}</span></li>
						</ul>
 <button type="submit" class="btn btn-primary" name="price" value="/images/b.jpg">Finish</button>
 </form>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->
