<head>
<script>
function onClick(list) {
  dataLayer.push({
    'event': 'productClick',
    'ecommerce': {
      'click': {
        'actionField': {'list': 'Search Results'},      // Optional list property.
      'products': [{                            // List of productFieldObjects.
        'name': '{{list.name}}',
        'price': '{{list.cost}}',
        'category': '{{list.category}}',
        'variant': '{{list.colour}}',
        'quantity': '{{list.quantity}}'                         // Optional fields may be omitted or set to empty string.
       }]
       }
     },
     'eventCallback': function() {
       document.location = list.url
     }
  });
}
</script>


	  <title>Accel-Shopping | Home</title>
</head>



<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
	<div class="container">
		<a href="#" class="navbar-brand">
			<!-- Logo Image -->
			<img src="/images\favicon.ico" width="45" alt="" class="d-inline-block align-middle mr-2">
			<!-- Logo Text -->
			<span class="text-uppercase font-weight-bold">Enix</span>
		</a>

		<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
			class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

		<div id="navbarSupportedContent" class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
				<li class="nav-item"><a href="/Male_Section" class="nav-link">Male</a></li>
				<li class="nav-item"><a href="/Female_Section" class="nav-link">Female</a></li>
				<li><a href="/cart" class="nav-link"> Cart</a></li>
			

			</ul>
		</div>
	</div>
</nav>


<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2>Category</h2>
					<div class="panel-group category-products" id="accordian">
						<!--category-productsr-->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										Sportswear
									</a>
								</h4>
							</div>
							<div id="sportswear" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="#">Nike </a></li>
										<li><a href="#">Under Armour </a></li>
										<li><a href="#">Adidas </a></li>
										<li><a href="#">Puma</a></li>
										<li><a href="#">ASICS </a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#mens">
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										Mens
									</a>
								</h4>
							</div>
							<div id="mens" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="#">Fendi</a></li>
										<li><a href="#">Guess</a></li>
										<li><a href="#">Valentino</a></li>
										<li><a href="#">Dior</a></li>
										<li><a href="#">Versace</a></li>
										<li><a href="#">Armani</a></li>
										<li><a href="#">Prada</a></li>
										<li><a href="#">Dolce and Gabbana</a></li>
										<li><a href="#">Chanel</a></li>
										<li><a href="#">Gucci</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#womens">
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										Womens
									</a>
								</h4>
							</div>
							<div id="womens" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="#">Fendi</a></li>
										<li><a href="#">Guess</a></li>
										<li><a href="#">Valentino</a></li>
										<li><a href="#">Dior</a></li>
										<li><a href="#">Versace</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#">Kids</a></h4>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#">Fashion</a></h4>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#">Households</a></h4>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#">Interiors</a></h4>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#">Clothing</a></h4>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#">Bags</a></h4>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#">Shoes</a></h4>
							</div>
						</div>
					</div>
					<!--/category-products-->


					<div class="shipping text-center">
						<!--shipping-->
						
					</div>
					<!--/shipping-->

				</div>
			</div>

			<div class="col-sm-9 padding-right">
				<div class="features_items">
					<!--features_items-->
					<h2 class="title text-center">Features Items</h2>


					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<form action="/types" method="post">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images\b.jpg" alt="" />
										<h2>R800</h2>
										<p>Urban Find</p>

									</div>

								</div>


								<div class="choose">
									<button type="submit" class="btn btn-primary" id="Driving Shoe" name="price"
										value="/images/b.jpg" onclick="onClick({{list}})">View</button>
								</div>
							</form>
						</div>
					</div>

{{!-- start --}}
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<form action="/types" method="post">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images\d.jpg" alt="" />
										<h2>R700</h2>
										<p>Relay Shoe</p>

									</div>

								</div>


								<div class="choose">
									<button type="submit" class="btn btn-primary" id="Driving Shoe" name="price"
										value="/images/d.jpg">View</button>
								</div>
							</form>
						</div>
					</div>
{{!-- End --}}
					
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<form action="/types" method="post">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images\c.jpg" alt="" />
										<h2>R1200</h2>
										<p>HDKS Sneaker</p>

									</div>
								</div>
								<div class="choose">
									<button type="submit" class="btn btn-primary" id="Driving Shoe" name="price"
										value="/images/c.jpg">View</button>
							</form>

						</div>
					</div>
					



				</div>
{{!-- start --}}
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<form action="/types" method="post">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images\e.jpg" alt="" />
										<h2>R1500</h2>
										<p>Sport Guyisa</p>

									</div>

								</div>


								<div class="choose">
									<button type="submit" class="btn btn-primary" id="Driving Shoe" name="price"
										value="/images/e.jpg">View</button>
								</div>
							</form>
						</div>
					</div>
{{!-- End --}}









			</div>
			


		</div>
	</div>
	</div>
</section>